.expertise {
  padding-bottom: 85px;
}

.sec {
  padding: 50px 0;
  background: #40a944;
}

.wrap {
  width: 1180px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

.sec .gr {
  align-items: center;
}

.gr {
  display: flex;
}

.half .gr_item {
  width: 50%;
}

.sec .gr {
  align-items: center;
}

.gr {
  display: flex;
}

@media screen and (max-width: 1080px) {
  .wrap {
    width: 94%;
    margin: 0 3%;
  }
}

@media screen and (max-width: 850px) {
  .expertise .half.gr,
  .farmer_consumer .half.gr,
  .we_work .half.gr {
    flex-direction: column-reverse;
  }
}

.span_1_of_2 {
  width: 50%;
}

.gr > * {
  margin-right: 30px;
}

.expertise_item a {
  display: flex;
  align-items: center;
  height: auto;
  text-decoration: none;
  transition: all 0.5s;
}

.expertise_icon.icon_commons {
  margin-right: 7%;
}

.expertise_info {
  width: 60%;
}
.expertise_info h4 {
  color: #f1f1f1;
}

h4 {
  font-size: 20px;
  margin: 5px 0;
  font-weight: normal;
  color: #40a944;
}

.expertise_info p {
  margin: 0;
  font-size: 14px;
  color: #f1f1f1;
  line-height: normal;
  text-align: left;
}

.expertise_item a {
  display: flex;
  align-items: center;
  height: auto;
  text-decoration: none;
  transition: all 0.5s;
}

.wsc_bg {
  border-radius: 14px;
  padding: 4px 5px;
  margin: 5px 5px;
  background: rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgb(174 158 158 / 18%);
}

.expertise_icon {
  width: 38%;
  margin-right: 2%;
}

.expertise_info {
  width: 60%;
}

.alternate_grid .span_1_of_2:nth-child(2n) {
  top: -24px;
  position: relative;
}

.span_1_of_2 {
  width: 50%;
}

.gr > * {
  margin-right: 30px;
}

.half .gr_item {
  width: 50%;
}

.item_title {
  padding-bottom: 10px;
}

.item_title h2 {
  margin: 0;
}

h2 {
  font-size: 30px;
}

.item_entry p {
  color: #777;
  margin: 0 0 20px;
}

@media screen and (max-width: 850px) {
  .half .gr_item,
  .sdg_entry,
  .sdg_listings,
  .span_3_of_4,
  .span_1_of_4,
  .span_1_of_3,
  .sdg_listing_item,
  .span_4_of_12,
  .span_2_of_12,
  .span_3_of_4 {
    width: 100%;
  }
}

/* @media screen and (max-width: 480px) {
  .gr .span_1_of_2 {
    margin-right: 14px;
  }
} */

@media screen and (max-width: 850px) {
  .gr > * {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .half .gr_item,
  .sdg_entry,
  .sdg_listings,
  .span_3_of_4,
  .span_1_of_4,
  .span_1_of_3,
  .sdg_listing_item,
  .span_4_of_12,
  .span_2_of_12,
  .span_3_of_4 {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .expertise_icon {
    padding: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .expertise_icon,
  .expertise_info,
  .span_3_of_12 {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .expertise_icon,
  .expertise_info,
  .span_3_of_12 {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .expertise_item a {
    display: block;
  }
  .expertise_info h4 {
    font-size: 14px;
  }
}

.expertise_item a {
  display: flex;
  align-items: center;
  height: auto;
  text-decoration: none;
  transition: all 0.5s;
  /* box-shadow: 0 3px 3px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}

a {
  color: #40a944;
}

@media screen and (max-width: 480px) {
  .expertise_item a {
    display: block;
  }
}

.testimonial {
  padding-bottom: 90px;
  background: #40a944;
  padding-top: 60px;
}

.testimonial .titlepage h2 {
  margin-bottom: 20px;
  color: #fff;
}

.testimonial .titlepage h2::after {
  border-bottom: #fff solid 1px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 259px;
  margin: 0 auto;
}

.testimonial .titlepage p {
  font-size: 17px;
  color: #fff;
}

.testimonial_Carousel .carousel-caption {
  position: inherit;
}

.testimonial_box i img {
  margin-top: -120px;
}

.testimonial_box h4 {
  padding: 20px 0px 20px 0px;
  font-size: 20px;
  line-height: 25px;
  color: #090808;
  display: block;
  font-weight: 500;
}

.testimonial_box {
  text-align: center;
  background: #fff;
  box-shadow: #ddd 0px 0px 10px 0px;
  padding: 0px 40px 40px 40px;
}

.testimonial_Carousel .test_box .jons {
  text-align: left;
  margin-bottom: 4px;
  margin-left: -10px;
}

.testimonial_Carousel .test_box .jons i {
  float: left;
  background: #fff;
  border-radius: 50px;
  padding: 9px;
}

.testimonial_Carousel .test_box .jons h4 {
  font-size: 25px;
  color: #fff;
  padding-top: 27px;
  line-height: 32px;
  padding-left: 20px;
  display: inline-block;
}

.testimonial_Carousel .test_box p {
  font-size: 14px;
  line-height: 20px;
  /* color: #090808; */
  /* background: #fff; */
  /* From https://css.glass */
  color: #f1f1f1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 11px 10px;
  border-radius: 7px;
  text-align: justify;
  max-height: 200px;
}

.testimonial_p {
  color: #f1f1f1;
  text-transform: capitalize;
}
.testimonial_Carousel .carousel-indicators {
  bottom: -30px;
}

.testimonial_Carousel .carousel-indicators li {
  width: 56px;
  height: 13px;
  margin-right: -4px;
  margin-left: -4px;
  border-radius: 10px;
  background: #fff;
}

.testimonial_Carousel .carousel-indicators li.active {
  background: #000;
}

/** end testimonial section **/

@media (min-width: 992px) and (max-width: 1199px) {
  .testimonial_Carousel .test_box p {
    font-size: 16px;
    padding: 29px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .testimonial_Carousel .test_box .jons {
    margin-bottom: 21px;
  }
  .testimonial_Carousel .test_box p {
    font-size: 13px;
    padding: 12px 22px;
    line-height: 22px;
  }
}

@media (max-width: 575px) {
  .testimonial_Carousel .test_box .jons {
    margin-bottom: 0px;
    margin-left: -9px;
  }
  .testimonial_Carousel .test_box .jons i {
    padding: 7px;
  }
  .testimonial_Carousel .test_box .jons h4 {
    padding-left: 9px;
    font-size: 15px;
  }
  .testimonial_Carousel .test_box p {
    font-size: 13px;
    line-height: 23px;
    /* padding: 9px; */
    max-height: 261px;
  }
  .testimonial_box {
    padding: 0px 19px 40px 20px;
  }
}
.about-image {
  width: 100%;
  height: 100%;
}

.team-image {
  height: 100%;
  max-height: 635px;
  /* min-height: 475px;
  object-fit: cover; */
}

/*responsive iframe*/
.video-wrapper {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  width: 100%;
  /* padding-top: 56.25%; 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 50%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media (max-width: 768px) {
  .responsive-iframe {
    height: 100% !important;
  }
}
