body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.page_header {
  background: #23b574;
  color: #fff;
  padding: 50px 0;
}
/* @media screen and (max-width: 1080px) {
  .wrap {
    width: 94%;
    margin: 0 3%;
  }
} */
h1 {
  font-size: 50px;
}
.page_container {
  padding: 58px 0 85px;
}

.b_date {
  color: #777;
  font-size: 14px;
}

.wrap {
  width: 1180px;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

h2 {
  font-size: 30px;
}
